@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: theme('colors.primary');
}

@layer utilities {
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-slide-up {
    animation: slide-up .75s ease-out forwards;
  }

  @keyframes slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-slide-down {
    animation: slide-down .75s ease-out forwards;
  }
}